<div class="container__big-card">


    <div class="big-card__photo">
      <img src="https://de9o6n2ujz7l.cloudfront.net/cache/bb/29/bb29887dfe5f7dce75c9ad9d6190e1dc.jpg" height="200px" alt="" srcset="">
    </div>

    <div class="big-card__title">
      <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
      <p>
        <a href="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia deserunt cumque facere quas repudiandae temporibus mollitia in modi harum, a, consectetur officiis numquam ut sed possimus aliquam minima animi fugiat?
        </a>
      </p>
    </div>


</div>
